@charset "UFT-8";
@font-face {
    font-family: "minhafont";
    src: url(minhafonte.ttf);
}
:root {
    font-family:var(fonte);
}

body {
    background-color: white;
    margin: 0px;
    min-width: 510px;
}


/* Estilo dos elementos do <header> */
header {
    background-color: black;
    text-align: center;
    padding: 20px;
}
header > h1 {
    color: white;
    font-size: 5vw;
}
header > p {
    color: white;
    font-size: 2vw;
}
header > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2vw;
}
/* Estilo do <pre> */
pre {
    line-height: 2em;
    min-height: 200px;
    font-weight: bold;
    font-size: 2.5vw;
}

/*Estilo dos normais*/
.normal {
    background-color: white;
}

/* Estilo das imagens */
.imagem {
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: left;
}
/* primeira imagem */
#primeiro { 
    background-image:url(background001.jpg);
    background-position: center right;
}

/* estilo segundo imagem */
#segundo {
    background-image: url(../background002.jpg);
    background-position: center right;
    background-color: rgba(84, 84, 84, 0.2);
}

/* Estilo do footer */
footer { 
    margin: 2px;
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
footer > p a {
    color: white;
    font-family: minhafont, Arial, Helvetica, sans-serif;
    text-decoration: none;
}
footer > p > a:hover {

    color: red;
    text-decoration: line-through;
}




